:root { }

html {
  font-family: "Courier New", "Lucida Console", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .container-column {
    width: 75%;
  }

  .container-row { }
}

.title {
  h1 {
    text-align: center;
  }
}

.about {
  h1 {
    text-align: center;
  }
}

.display {
  text-align: center;
}

.info {
  h1 {
    text-align: center;
  }

  ul {
    list-style-position: inside;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
  }
}

